.container {
    width: 1125px;
    height: 613px;
    position: absolute;
    top: 152px;
    left: 157px;
  }
  
  .image {
    width: 1125px;
    height: 613px;
    position: absolute;
    top: 152px;
    left: 157px;
  }
  